html, body {
	background-color: #ffffff;
	font: 17px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #e0e0e0;

  	background:url(images/alg.png) no-repeat;

	width:360px;
	
	margin:  auto;

}


.fadein { position:absolute;
width:100%; 
height:200px;
margin-left:auto;
margin-right:auto;
z-index:0;
 }
  
.fadein img { position:absolute;
width:360px; 
margin: auto;
margin-top:90px;
 }

a {
	color: #e0e0e0;
}

a:active, a:focus {
	outline: 0;
}

h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

fieldset,a{
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #000000
}


input{
    
	width: 33%;
}
div.login-content h2 {
	height: 21px;
	margin: 15px 0px; padding: 3px 0px 0px 15px;
	background: url(images/header-bg.png) repeat-x;
	font-size: 12px; font-weight: bold;
}

div.login-content h2.error {
	background: url(images/header-error-bg.png) repeat-x;
}

div.wizard-content, div.login-content {
	background: #ffffff url(images/window-gradient-bg2.png) repeat-x;

	width: 360px; 
	margin: 65% auto 0px auto;
	-moz-box-shadow: 0 0 15px #000000; -webkit-box-shadow:0 0 15px #000000;
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}

body.login-page div.page-content {
	width: 100%;
	margin: 0px auto;
	padding-top: 50px;
}

div.login-content {
	width: 100%; 
}

div.login-content fieldset {
	padding: 0px 15px;
}

div.login-content fieldset p {
	clear: both;
}

div.login-content fieldset.tou {
	padding-top: 5px;
	font-size: 11px;
}

div.login-content label.fieldname {
	display: block; float: left;
	font-size: 16px;
	width: 150px;
}

div.login-content input.textInput {
	display: block; float: right;
	font-size: 16px;
	padding: 3px;
	width: 184px;
	margin-bottom: 10px;
}

div.form-controls {
	width: 100%;
	text-align: right;
	padding: 20px 0;
}

div.form-controls input {
	margin-right: 15px;
}

div.tou-wrapper {
	width: 90%;
	height: 100px;
	overflow: auto;
	margin: 0 auto;
	
	background-color: transparent;
	color: #fff;
	padding: 3px;
}

div.options-box {
	text-align: center;
}

div.options-box label {
	padding-left: 3px;
	padding-right: 8px;
}

div.credit-box dl {
	padding-left: 30px;
}

div.tou p {
	margin-bottom: 5px;
}

div.tou ul li {
	list-style: circle;
}

div.authed {
	padding-bottom: 25px;
}

.button {
	padding: 5px 10px;
	color: #1e1e1e;
	background: #cfcfcf url(images/button-bg.png); background-position: 0px 50%;
	cursor: pointer;
	border: 1px solid #707070;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}

.button.disabled,
.button.disabled:hover {
	color: #aaaaaa;
	border-color: #aaaaaa;
	background: #cfcfcf url(images/button-bg.png); background-position: 0px 50%;
	cursor: auto;
}

.button:hover {
	background: #cfcfcf url(images/button-bg-hover.png); background-position: 0px 50%;
	border: 1px solid #3c7fb1;
}

ol.fixed-form {
	list-style: none outside none;
	padding: 0 20px;
}

ol.fixed-form li {
	display: block;
	float: left;
	height: 3em;
	margin: 0 10px 10px 0;
}

ol.fixed-form li.col-1 {
	width: 80px;
}

ol.fixed-form li.col-2 {
	width: 160px;
}

ol.fixed-form li.col-3 {
	width: 240px;
}

ol.fixed-form li.col-5 {
	width: 300px;
}

ol.fixed-form li.last {
	float: right;
	margin-right: 0;
}

ol.fixed-form li.full {
	float: none;
	margin-right: 0;
}

ol.fixed-form label {
	clear: right;
	display: block;
	font-weight: bold;
}

ol.fixed-form li input {
	width: 97%;
	display: inline;
	margin-bottom: 3px;
}

